:root{
    --height:60px;
    --width_center: 1400px;
    --height_shopping:60px;
    --background_white:#fff;
    --background_near_white:#f1f1f1; 
    --color_black:#000;
    --color_white:#fff;
}
header{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header_container{
    width: var(--width_center);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height);
    background-color: var(--background_white);
}
.header_logo{
    height: calc(var(--height) - 2px);
    display: block;
    /* padding: 5px; */
}
.header_logo img{
    height: 100%;
    width: auto;
}
.header_list_menu{
    display: flex;
}
.header_list_menu > li{
    position: relative;

}
.opacity_08{
    opacity: 0.8;
}

.header_list_menu > li:hover::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: LightBottom 0.6s forwards;
}
.header_list_menu > li > a{
    display: block;
    padding: 0 16px;
    line-height: var(--height);
    text-decoration: none;
}
.header_list_menu > li:hover > a{
    background-color: var(--background_near_white);
    color: #605151;
}

.sub_menu,
.sub_menu_3{
    display: none;
    position: absolute;
    width: 180px;
    box-shadow: rgba(57, 57, 63, 0.2) 0px 7px 29px 0px;
    background-color: var(--background_white);
}
.sub_menu{
    left: 0;
}
.menu_icon_c1{
    font-size: 12px;
}
.sub_menu li a{
    padding: 12px 20px;
    display: block;
    text-decoration: none;
}
.sub_menu > li:hover > a,
.sub_menu_3 li:hover a
{
    background-color: var(--background_near_white);
    color: #605151;

}
.header_list_menu li:hover .sub_menu,
.sub_menu_2:hover .sub_menu_3{
    display: block;
}
.sub_menu_2{
    position: relative;

}
.menu_icon_c2{
    /* margin-left: 100%; */
    font-size: 10px;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}
.sub_menu_3{
    left: 100%;
    top: 0;
    width: 170px;
    /* z-index: 1; */
}
.sub_menu_3 li a{
    background-color: var(--background_white);
    display: block;
    padding: 10.5px 20px;
}


.header_introduce{

}
.header_new{

}
.header_action_section{
    margin: 0 8px;
    width: calc( 30% - 16px );
    padding: 4px 0;
    cursor: pointer;
}
.header_action_icon:hover{
    color: #696060;
}
.header_action_search{
    position: relative;
}
.search_form{
    position: absolute;
    left: 0;
    top: calc( 100% + 16px );
    transform: translateX(-50%);
    padding: 8px 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    color: #677279;
    width: 300px;
    display: none;
}
.search_form > label{
    font-size: 18px;
    padding: 8px 0;
    display: block;
}
.search_input{
    position: relative;
    margin-top: 20px;
}
.search_input > input{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 8px 32px 8px 8px;
    width: calc( 96% - 30px );
    display: block;
}
.search_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
}
.header_action_user{
    position: relative;
}

/* Tạo đăng nhập đăng ký */
.sign_form{
    position: absolute;
    top: calc( 100% + 16px );
    right: 80%;
    transform: translateX(20%);
    background-color: #fff;
    width: 350px;
    padding: 16px 0;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    color: #677279;
    display: none;
    border-radius: 5px;
}
.sign_form_header{
    text-align: center;

}
.sign_form_title1{
    font-size: 18px;
    margin: 10px 0;
    color: #333333;
}
.sign_form_title2{
    opacity: 0.75;
    margin: 10px 0;
    
}
.sign_form_input{
    width: fit-content;
    padding: 0 16px;
    
}
.sign_form_input > input{
    width: 97%;
    padding: 10px 4px;
    margin: 4px 0;
    /* display: block; */
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
.sign_policy{
    margin: 10px 4px;
    text-align: left;
    line-height: 1.3;
}
.sign_input_btn{
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 0;
    background-color: rgb(150, 150, 27);
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
}
.sign_input_btn:hover{
    opacity: 0.85;
}
.sign_help{
    margin: 0 0 10px 16px;
}
.sign_help li{
    margin: 10px 0;
}
.sign_help li a{
    text-decoration: none;
    color: rgb(59, 59, 230);
}
.forgot_pass{
    display: none;
}



.sign_up{
    width: 500px;
    /* display: none; */
    padding: 0 16px;
}
.form_section {
    padding: 0 10px;
    margin: 10px 0;
}
.form_section > input{
    padding: 8px 0;
    height: 20px;
    border: 1px solid #ccc;
    margin: 10px 2px;
}

.sign_up_btn{
    margin-left: 10px;
    width: 98%;
}

/*  */
.header_action_shopping{
    position: relative;
}
.shopping_count{
    position: absolute;
    bottom: 40%;
    left: 66%;
    background-color: orange;
    color: var(--color_white);
    padding: 2px 4px;
    border-radius: 50%;
}
.header_action_icon{
    font-size: 20px;
}
.cart{
    width: 450px;
    max-height: 600px;
    position: absolute;
    top: 43px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    display: none;
    overflow: hidden;
    height: calc( fit-content + 34px );
}
.cart h2{
    text-align: center;
    padding: 10px 0;
    
}
.list_cart_books{

}

.cart_book_img{
    padding: 2px 8px;
}
.cart_book_img img{
    width: 100px;
    height: 100%;
}
.list_cart_books li{
    display: flex;
    min-height: 155px;
    max-height: 160px;
}
.list_cart_books li a{
    text-decoration: none;
    color: #000;
}
.cart_book_close{
    width: fit-content;
    float: right;
    clear: both;
    padding: 4px;
}
.cart_book_close_icon{
    font-size: 18px;
}
.cart_book_name{
    clear: right;
}
.cart_book_container{
    margin: 0 10px;
    transform: translateY(10%);
    height: fit-content;
    width: 100%;
}
.cart_book_quantity_cost{
    padding-right: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.cart_form_quantity{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.cart_form_quantity > input{
    display: block;
    width: 100%;
}
.quantity_view{
    border: 1px solid #000;
    text-align: center;
}
.cart_view_all{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    text-align: center;
    
}
.cart_view_all a{
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    display: block;
}
.cart_view_all a:hover{
    background-color: #ece9e9;

}