html{
    font-size: 16px;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    color: #0e0d0d;
}
body{
    height: 50%;
    /* background: url(./img/640956.jpg) no-repeat left top /auto; */
    /* width: 1200px; */
    margin: 0 auto;
    /* background-color: #fff; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: var(--width_center);
}

header{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
:root{
    --height:60px;
    --width_center: 1400px;
    --height_shopping:60px;
}
#header_container{
    width: var(--width_center);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height);
    background-color: #fff;
}
.header_logo{
    height: calc(var(--height) - 2px);
    /* padding: 5px; */
}
.header_logo img{
    height: 100%;
    width: auto;
}
.header_list_menu{
    display: flex;
}
.header_list_menu > li{
    position: relative;

}

@keyframes LightBottom {
    from{
        width: 0%;
        border: 1px solid #000;
    }
    to{
        width: calc(100% - 1px);
        border: 1px solid #000;
    }
}
.header_list_menu > li:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: LightBottom 0.8s forwards;
}
.header_list_menu > li > a{
    display: block;
    padding: 0 16px;
    line-height: var(--height);
    text-decoration: none;
}
.header_list_menu > li:hover > a{
    background-color: #f1f1f1;
    color: #605151;
}

.sub_menu,
.sub_menu_3{
    display: none;
    position: absolute;
    width: 180px;
    box-shadow: rgba(57, 57, 63, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}
.sub_menu{
    left: 0;
}
.menu_icon_c1{
    font-size: 12px;
}
.sub_menu li a{
    padding: 12px 20px;
    display: block;
    text-decoration: none;
}
.sub_menu > li:hover > a,
.sub_menu_3 li:hover a
{
    background-color: #f1f1f1;
    color: #605151;

}
.header_list_menu li:hover .sub_menu,
.sub_menu_2:hover .sub_menu_3{
    display: block;
}
.sub_menu_2{
    position: relative;

}
.menu_icon_c2{
    /* margin-left: 100%; */
    font-size: 10px;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}
.sub_menu_3{
    left: 100%;
    top: 0;
    /* z-index: 1; */
}
.sub_menu_3 li a{
    background-color: #fff;
    display: block;
    padding: 10.5px 20px;
}


.header_introduce{

}
.header_new{

}
.header_action{
    display: flex;
}
.header_action_section{
    margin: 0 8px;
    width: calc(30%-16px);
    padding: 4px 0;
    cursor: pointer;
}
.header_action_section:hover{
    color: #696060;
}
.header_action_search{

}

.header_action_user{

}

.header_action_shopping{
    position: relative;
}
.shopping_count{
    position: absolute;
    bottom: 40%;
    left: 66%;
    background-color: orange;
    color: #fff;
    padding: 2px 4px;
    border-radius: 50%;
}
.header_action_icon{
    font-size: 20px;
}
#slider{
    margin-top: var(--height);
    width: var(--width_center);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slider_pre_next_icon{
    position: absolute;
    top: 50%;
    font-size: 16px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;

}
.slider_pre_next > .fa-angle-left{
    left: 0;
}
.slider_pre_next > .fa-angle-right{
    right: 0;
}
.slider_pre_next_icon:hover{
    padding: 22px 27px;
    background-color: #f3ecec;
}
.slider_dots{
    /* background-color: #ccc; */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider_dots li{
    display: inline-block;
}
.slider_dots_icon{
    color: #000;
    margin: 0 4px;
}

.slider_wrapper{
    overflow: hidden;
}
.slider_main{
    display: flex;
    transition: transform 0.25s linear;
}
.slider_item{
    padding-top: 50%;
    width: 100%;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
}
.slider_1{
    background-image: url(./img/slider/slider1.jpg);
    background-repeat: no-repeat;
    display: block;
}
.slider_2{
    background-image: url(./img/slider/slider2.jpg);
    background-repeat: no-repeat;
}
.slider_3{
    background-image: url(./img/slider/slider3.jpg);
    background-repeat: no-repeat;
}
.cl_ccc{
    color: #ccc;
}
#container{
}

.list_book_outstanding,
.list_book_promotion{
    margin: 60px auto 30px ;
    width: 1200px;
    /* position: relative; */
}
.list_book_outstanding h2{
    margin: 8px 0;
}
.list_book_outstanding_main{
    display: flex;
    justify-self: flex-start;
    margin: 0 -10px;
}
.list_book_outstanding_main li{
    background-color: #ddd;
    /* margin: 8px 16px; */
    /* width: 20%; */
    padding: 100px 0;
    width: 20%;
    position: relative;
    background-color: #faf1ff;
    margin: 30px 10px;
    border-radius: 8px;
}
.outstanding_item{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
}
.list_book_outstanding_main li:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.outstanding_item_img{
    width: 60px;
    height: 60px;
}
.outstanding_item_img img{
    height: 100%;
    width: 100%;
}
.outstanding_item a{
    text-decoration: none;
    color: #000;
    margin: 20px 0;
    display: block;

}
.outstanding_item a h3{
    margin-top: 16px;
}
.outstanding_item a > .fa-angle-right{
    font-size: 12px;
}
.list_book_outstanding_main li:hover a .fa-angle-right{
    transition: transform 0.25s linear;
    transform: translate(10px);
}
.list_book_promotion{
    background-color: red;
    /* padding: 40px 0; */
    border-radius: 10px;
    /* max-height: 620px; */
}
.promotion_head{
    margin: 0px 16px;
    padding: 20px 0 ;
    color: #fff;

}
.promotion_main{
    display: flex;
    overflow: hidden;
}
.product_item{
    display: block;
    width: 100%;
    background-color: #fff;
    text-decoration: none;
    position: relative;
}
.promotion_main .promotion_item{
    /* flex: 1 0; */
    flex-basis: calc( 20% - 16px );
    margin: 10px 8px;
}
.product_item:hover {
}
.product_item_main{
    background-color: #fff;
}
.product_item:hover .product_item_main{
    position: absolute;
    bottom: 10%;
    left: 0;   
    right: 0;
    margin-bottom: 10px;
}

.product_item_img{

}
.product_item_img img{
    width: 100%;
}
.product_item_content{
    padding: 0 8px;
    margin: 8px 0;
}
.product_item_content_head{
    color:orange;
    margin: 8px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.product_item_content_title{
    margin: 8px 0;
}
.product_item_cost{
    padding:0 8px;
    margin: 8px 0;
    display: flex;
    font-size: 13px;
}
.product_item_cost_new{
    font-weight: 600;
    margin-right: 10px;
}
.product_item_cost_order{
    opacity: 0.7;
}
.product_shopping{
    margin-top: 20px;
    margin-bottom: 14px;
    display: none;
    background-color: #fff;
}
.product_shopping_add{

}
.product_icon{
    background-color: orange;
    border-radius: 50px;
    padding: 12px;
}
.product_item:hover .product_shopping{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -1%;
    left: 0;
    right: 0;
}
.promotion_view_all{
    border:none;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 37%;
    position: relative;
    padding: 20px 160px;
    cursor: pointer;
    border-radius: 5px;
}
.promotion_view_all p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
.promotion_view_all span{
    position: absolute;
}
.promotion_view_all:hover span{
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    border-radius: 5px;
    animation: orange_color_view 0.2s ease-in ;
}
.promotion_view_all:hover p{
    color: #fff;
}
@keyframes orange_color_view {
    from{ width:0% }
    to{width: 100% }
}
.seller{
    margin: 60px auto 30px;
    width: 1200px;
}
.seller_main{
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;    
}
.seller_item{
    border: 1px solid #ccc;
    margin: 0;
    flex-basis: calc( 100% / 6 - 2px ) ;
    min-height: 422.81px;
}
.seller_item_img{

}
